.boxProducts {
    border: 1px solid black;
    padding: 15px 30px 15px 30px;

    height: 500px;
    overflow-y: scroll;
}

.listProducts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.itemProducts {
    border: 1px solid red;
}