.boxProducts {
    border: 2px solid black;
    padding: 15px 30px 15px 30px;

    height: 500px;
    overflow-y: scroll;
}

.listProducts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.itemProducts {
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}