.cartBox {
    border: 2px solid black;
    display: grid;

    height: 450px;
    overflow-y: scroll;
}

.listProducts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    padding: 5px;
}

.itemProducts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}