.descriptionBox {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputQuantity {
    max-width: 50px;
}

.CartBarProductBtn {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(185, 171, 171, 0.548);
}

.CartBarProductBtn:hover,
.CartBarProductBtn:focus {
    background-color: rgb(138, 136, 136);
    color: white;
}

.label {
    font-size: 14px;
}